<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置环境 -->
	<environments default="System">
		<environment id="System">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!-- MySQL数据库驱动 -->
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<!-- 连接数据库的URL -->
				<property name="url" value="jdbc:mysql://localhost:3306/test"/>
				<property name="username" value="root"/>
				<property name="password" value="123"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<!-- 映射文件的位置 -->
	<mapper resource="mapper/Usermapper.xml"/>
	<mapper resource="mapper/Videomapper.xml"/>
	<mapper resource="mapper/Picturemapper.xml"/>
	<mapper resource="mapper/Poimapper.xml"/>
	<mapper resource="mapper/Monitormapper.xml"/>
	<mapper resource="mapper/AlarmRecordmapper.xml"/>
	</mappers>
</configuration>