<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.Usermapper">
	<!-- 增 -->
	<insert id="Insert" parameterType="POJO.User">
		insert into user 
		values(#{userID},#{userName},#{userPwd},#{userRight},#{userMail},
		#{userPhone},#{userDept},#{empTime})
	</insert>
	
	<!-- 删 -->
	<delete id="Delete" parameterType="Integer">
		delete from user where userID = #{userID}
	</delete>
	
	<!-- 改 -->
	<update id="Update" parameterType="POJO.User">
		update user set
		userName = #{userName}, userPwd = #{userPwd}, userRight = #{userRight}, userMail = #{userMail},
		userPhone = #{userPhone}, userDept = #{userDept}, empTime = #{empTime}
		where userID = #{userID}
	</update>
	
	<!-- 查找 -->
	<select id="Select" parameterType="POJO.User" resultType="POJO.User">
		select * from user where userID = #{userID}
	</select>
	
	<!-- 显示 -->
	<select id="All"  resultType="POJO.User">
		select * from user
	</select>
</mapper>

